@charset "UTF-8";
/* SERVICE ボタン */
.service-btn {
	margin-right: 2px;
	width: 184px;
	height: 28px;
}

#service .page-title {
	height: 50px;
	margin-bottom: 33px;
}

.service-box {
	width: 640px;
	border: 1px solid #B1B1B1;
	background-color: #E0E0E0;
	position: relative;
	margin-bottom: 20px;
}
.service-box-wrap {
	width: 636px;
	background-color: #F6F6F6;
	/* Firefox */
	background: -moz-linear-gradient(top center, #F6F6F6 0%, #FFFFFF 100%);
	/* Chrom と Safari */
	background: -webkit-gradient(linear, center top, center bottom, from(#F6F6F6), to(#FFFFFF));
	/* 共通 */
	background: linear-gradient(top center, #F6F6F6 0%, #FFFFFF 100%);
	position: relative;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 11px;
}
.service-box-title {
	width: 602px;
	min-height: 30px;
	margin-left: -2px;
	margin-bottom: 2px;
	padding-top: 6px;
	padding-left: 38px;
	border-bottom: 1px solid #8FA578;
	background-image: url(../img/bullet2.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}
.service-box-title h2 {
	font-size: 1.5em;
	padding-top: 3px;
	font-weight: bold;
	line-height: 1em;
	display: block;
	float: left;
}
.service-box-title .btn-detail {
	margin-right: 172px;
}
.service-box-wrap p {
	width: 430px;
	margin-left: -2px;
	padding-top: 10px;
	padding-left: 38px;
	padding-right: 172px;
	padding-bottom: 10px;
	font-size: 1em;
	line-height: 2em;
	border-top: 1px solid #8FA578;
}
.service-box-image {
	position: absolute;
}
#keieishien .service-box-image {
	top: 10px;
	left: 510px;
}
#zeimu-keiri .service-box-image {
	top: 60px;
	left: 490px;
}
#kichoshido .btn-detail{
	float: none;
}
#kinyusodan .service-box-image {
	top: 50px;
	left: 510px;
}
#rodohoken .service-box-image {
	top: 15px;
	left: 515px;
}
#hitorioyakata .service-box-image {
	top: 7px;
	left: 505px;
}
table.table-marukei > * > tr > th  {
	min-width: 8em;
}